# Google API Credentials & Tokens
token.json
credentials.json

# Environment variables
.env

# Python env
.venv/
__pycache__/
*.pyc

# Local state
state/processing/
state/commands/
state/backup_reanalysis/

# OS specific
.DS_Store
